{% extends 'Base.html' %}

{% block pageTitle %}
登陆
{% endblock %}

{% block pageBody %}
<div style="margin:20px; ">
    <section>
        <img src="/static/images/TakeoutLogo.png" alt="Just a Logo" width="320">

    </section>
    <table style="margin-top:0.25in; margin-left:0.25in; margin-right:0.1in;" cellpadding="3" cellspacing="18" >
        <tbody onkeydown="pressLoginOnKeyBoard()">
            <tr style="font-family: '微软雅黑 Light';">
                <td style="min-width: 52px" align="left">用户名</td>
                <td>
                    <input id="userNameInput" type="text" placeholder="请输入用户名" value="{{ userName }}" style="width:144px">
                </td>
            </tr>
            <tr style="font-family: '微软雅黑 Light'">
                <td style="min-width: 52px" align="left">密码</td>
                <td>
                    <input id="passwordInput" type="password" placeholder="请输入密码" style="width:144px">
                </td>
                <td>
                    <input id="passwordCheckBox" type="checkbox" onchange="changePasswordVisible()" style="margin-left: 18px;" width="52px">显示密码
                </td>
            </tr>

        </tbody>
    </table>
    {% if not firstVisitLoginPage %}
    <font color="red">请输入正确的用户名！</font> <br>
    {% endif %}
    <button type="submit" onclick="pressLoginBtn()" class="button-normal" style="margin-left:auto; margin-right:auto; margin-top:24px; width:320px; height:52px">登陆</button>
</div>
<script>
    function changePasswordVisible() {
        var passwordInput = document.getElementById("passwordInput");
        var passwordCheckBox = document.getElementById("passwordCheckBox");
        //alert("" + passwordCheckBox.checked);
        if (passwordCheckBox.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
    function pressLoginBtn() {
        var userNameInput = document.getElementById("userNameInput");
        var userName = userNameInput.value;
        var passwordInput = document.getElementById("passwordInput");
        var password = passwordInput.value;
        var sha_pwd = sha512(password);
        //alert("sha_pwd = \n" + sha_pwd);
        location.href = "/login?userName=" + userName + "&password=" + sha_pwd;
    }
    function pressLoginOnKeyBoard(){
        if (event.keyCode == 13) {
            //alert("pressLoginOnKeyBoard");
            pressLoginBtn();
        }
    }

    function getwidth(){
        return {
        width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
        height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    };
    }

</script>
{% endblock %}