{% extends 'Base.html' %}

{% block pageTitle %}
搜索
{% endblock %}

{% block pageBody %}
<div class="container-fluid container-fluid-extra">
    <!-- 第一行：返回按钮、搜索输入框、搜索按钮 -->
    <div class="row-fluid">
        <div class="col-xs-12 col-xs-extra-12">
            <div class="col-xs-1 col-xs-extra">
                <button type="button" class="btn btn-default btn-img-extra"
                        onclick="onClickBackBtn()">
                    <img class="img-responsive center-block img-extra" src="/static/images/icon/back.png">
                </button>
            </div>
            <div class="col-xs-9 col-xs-extra">
                <input type="text" class="form-control form-control-extra"
                       placeholder="搜索关键词" id="searchInput">
            </div>
            <div class="col-xs-2 col-xs-extra">
                <button type="button" class="btn btn-default btn-default-extra"
                        onclick="onClickSearchBtn()">
                    搜索
                </button>
            </div>
        </div>
    </div>
    <!-- 第二行：排序方式、视图、筛选器 -->
    <div class="row-fluid">
        <div class="col-xs-12 col-xs-extra-12">
            <div class="col-xs-4 col-xs-extra">
            </div>
            <div class="col-xs-4 col-xs-extra">
                <li class="dropdown dropdown-extra">
                    <button type="button" class="btn btn-default btn-default-extra dropdown-toggle"
                            id="searchSortBtn" data-toggle="dropdown">
                        综合排序
                        <strong class="caret"></strong>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" style="min-width:100%;" role="menu" aria-labelledby="searchOption">
                        {% for sortMethod in sortMethodList %}
                        <li>
                            <a class="dropdown-{% if forloop.counter0 != 0 %}un{% endif %}selected" id="searchSortOpt{{ forloop.counter0 }}" onclick="onChangeSortMethod({{ forloop.counter0 }})">
                                {{ sortMethod }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
            <div class="col-xs-1 col-xs-extra">
                <button type="button" class="btn btn-default btn-img-extra"
                        onclick="onClickBackBtn()">
                    <img class="img-responsive center-block img-extra" src="/static/images/icon/list_view.png">
                </button>
            </div>
            <div class="col-xs-3 col-xs-extra">
                <li class="dropdown dropdown-extra" id="searchFilterLi">
                    <button type="button" class="btn btn-default btn-default-extra dropdown-toggle"
                            id="searchFilterBtn" data-toggle="dropdown">
                        筛选
                        <strong class="caret"></strong>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" style="min-width:350%;"
                        role="menu" aria-labelledby="searchOption" id="searchFilterUi">
                        <li>
                            <a>
                                <b>
                                    商家服务（可多选）
                                </b>
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-extra-12">
                            {% for filterSeller in filterSellerList %}
                            <div class="col-xs-4 col-xs-extra">
                                <button type="button" class="btn btn-default btn-default-extra btn-unselected"
                                        onclick="onChangeAcceptedSeller(this)" id="filterSeller{{ forloop.counter0 }}">
                                    {{ filterSeller }}
                                </button>
                            </div>
                            {% endfor %}
                        </li>
                        <li class="divider col-xs-12 col-xs-extra-12"></li>
                        <li>
                            <a>
                                <b>
                                    优惠活动（单选）
                                </b>
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-extra-12">
                            {% for filterDiscount in filterDiscountList %}
                            <div class="col-xs-4 col-xs-extra">
                                <button type="button" class="btn btn-default btn-default-extra btn-unselected"
                                        onclick="onChangeAcceptedSeller(this);onChangeDiscount({{ forloop.counter0 }});"
                                        id="filterDiscount{{ forloop.counter0 }}">
                                    {{ filterDiscount }}
                                </button>
                            </div>
                            {% endfor %}
                        </li>
                        <li class="divider col-xs-12 col-xs-extra-12"></li>
                        <li>
                            <a>
                                <b>
                                    人均价格
                                </b>
                                <a style="display: none;">
                                    请输入正确的数据
                                </a>
                            </a>
                        </li>
                        <li class="col-xs-12 col-xs-extra-12">
                            <div class="col-xs-12 col-xs-extra">
                                <input type="number" placeholder="无限制" id="searchFilterMinPrice"
                                       oninput="onInputPriceLimit(0)">
                                -
                                <input type="number" placeholder="无限制" id="searchFilterMaxPrice"
                                       oninput="onInputPriceLimit(1)">
                            </div>
                        </li>
                        <li class="divider col-xs-12 col-xs-extra-12"></li>
                        <li class="col-xs-12 col-xs-extra-12">
                            <div class="col-xs-6 col-xs-extra"></div>
                            <div class="col-xs-3 col-xs-extra">
                                <button type="button" class="btn btn-default btn-default-extra"
                                        onclick="searchFilterClear()">
                                    清空
                                </button>
                            </div>
                            <div class="col-xs-3 col-xs-extra">
                                <button type="button" class="btn btn-default btn-default-extra"
                                        onclick="searchFilterConfirm()">
                                    确认
                                </button>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <!-- 以下若干行：搜索结果 -->
    <div class="row-fluid" id="resultBlock">
        {% for shop in shopList %}
        <div class="col-xs-12 col-xs-extra-12 div-shopcard">
            <div class="col-xs-3 col-xs-extra">
                <img class="center-block img-shoplogo" src="{{ shop.logo }}">
            </div>
            <div class="col-xs-9 col-xs-extra">
                    <p>
                        <h4>{{ shop.name }}</h4>
                        {{ shop.descWithLimit }}
                    </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="/static/js/SearchPage.js" ></script>
{% endblock %}